<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>PageMill Example Application</title>
  <style>
	  
	  #div1, #div2, #div4 {
		float: left;
		width: 400px;
		height: 400px;
		margin: 10px;
		padding: 10px;
		border: 1px solid black;
		z-index:-1;
	  }
	  #div3, #div5 {
		float: left;
		width: 350px;
		height: 350px;
		margin: 10px;
		padding: 10px;
		border: 1px solid black;
	  }
  </style>
  <!--
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/modules/funnel.js"></script>
  <script src="https://www.highcharts.com/samples/data/usdeur.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="js/hpemetrics.js" id="hpeMetrics" appid="analytics_marketplace"  collector="https://hc4t01390.itcs.hpecorp.net:3300"></script>  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  
  
  
</head>
<body>
<div id="app"></div>
</body>
</html>
